*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;}
 alink{color: #000000;}
 avisited{color: #000000;}
 a:hover{color: #ffffff;}
 a:active{color: #ffffff;}
 
 
 
     
 .nav{
     background-color: rgb(255, 255, 255);
     display: flex;
     justify-content: space-between;
     z-index: 99;
     }
 .menu{}
 .menu a{
     display: block;
     width: 20vw;
     height:20px;
     background-color: rgb(255, 255, 255);
     color: rgb(0, 0, 0);
     padding: 5px 0px;
     font-size: 15pt;
     text-decoration: none;
     text-transform: uppercase;
     text-align: center;
     margin-bottom: 1px;
     padding-top: 40px;
     ;
 }
 .menu a:hover{
     background-color: #E3AA2A;
     color: white;} 




.menu_top_bar{
        position: absolute;
        left: 0px;
        top: -9px;
        z-index:99;
        position: fixed;
    
    }  
.menu_top_bar2{
        position: absolute;
        left:0px;
        top: 42px;
        z-index:99;
        position: fixed;
    
    } 
.design_back{
        top: 55px;
        left: 50px;
        transform: translateX(-50%);
        z-index: 1;
        background-image: url(img/design_background2.png);
        background-size: cover;
        width: 100%;
    }
.door_open{
        position: absolute;
        left: 370px;
        top: 195px;
        z-index: 3;
}
.door_lamp{
    position: absolute;
    left: 387px;
    top: 271px;
    z-index: 2;
}
.text1{z-index: 6;
    text-align: center;
    font-size: 12pt;
    top: 106px;
    color: #1a1a1a;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    position: absolute;
    left: 708px;}
.text2{z-index: 6;
    text-align: center;
    font-size: 100pt;
    top:1190px;
    color: #36150A;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    position: absolute;
    left: 410px;}
 
.top_line{
    position: absolute;
    left: 310px;
    top: 1200px;
    z-index: 7;   
 }
 .down_line{
    position: absolute;
    left: 310px;
    top: 1380px;
    z-index: 7;   
 }
 

.lamp1{
    position: absolute;
    left: 240px;
    top: 1500px;
    z-index: 7;   
 }
 .lamp_text1{
    position: absolute;
    left: 660px;
    top: 1485px;
    z-index: 7;   
 }
 .phlamp{z-index: 6;
    text-align: left;
    font-size: 25pt;
    top:1600px;
    color: #36150A;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    position: absolute;
    left: 670px;}


 .lamp2{
    position: absolute;
    left: 850px;
    top: 2000px;
    z-index: 7;   
 }
 .lamp_text2{
    position: absolute;
    left: 500px;
    top: 2000px;
    z-index: 7;   
 }
 .PH1_Cascade_Chandelier{z-index: 6;
    text-align: right;
    font-size: 25pt;
    top:2140px;
    color: #36150A;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    position: absolute;
    left: 460px;}


.lamp3{
        position: absolute;
        left: 235px;
        top: 2500px;
        z-index: 7;   
     }
.lamp_text3{
    position: absolute;
    left: 635px;
    top: 2500px;
    z-index: 7;   
 }
 .Snake_chair{z-index: 6;
    text-align: left;
    font-size: 25pt;
    top:2600px;
    color: #36150A;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    position: absolute;
    left: 655px;}


 .lamp4{
        position: absolute;
        left: 850px;
        top: 3000px;
        z-index: 7;   
     }
 .lamp_text4{
    position: absolute;
    left: 600px;
    top: 3005px;
    z-index: 7;   
 }
 .PH_Spiral_lamp{z-index: 6;
    text-align: right;
    font-size: 25pt;
    top:3120px;
    color: #36150A;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    position: absolute;
    left: 350px;}

.lamp5{
        position: absolute;
        left: 225px;
        top: 3500px;
        z-index: 7;   
}
.lamp_text5{
    position: absolute;
    left: 635px;
    top: 3510px;
    z-index: 7;   
 }
 .PH5{z-index: 6;
    text-align: left;
    font-size: 25pt;
    top:3615px;
    color: #36150A;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    position: absolute;
    left: 648px;}

 .lamp6{
        position: absolute;
        left: 850px;
        top: 4000px;
        z-index: 7;   
     }
 .lamp_text6{
        position: absolute;
        left: 660px;
        top: 4010px;
        z-index: 7;   
     }
.ARTICHOKE{z-index: 6;
    text-align: right;
    font-size: 25pt;
    top:4130px;
    color: #36150A;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    position: absolute;
    left: 370px;}

.lamp7{
        position: absolute;
        left: 225px;
        top: 4550px;
        z-index: 7;   
}
.lamp_text7{
    position: absolute;
    left: 635px;
    top: 4550px;
    z-index: 7;   
 }
 .Plate{z-index: 6;
    text-align: left;
    font-size: 25pt;
    top:4655px;
    color: #36150A;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    position: absolute;
    left: 648px;}

.lamp8{
     position: absolute;
     left: 820px;
     top: 5100px;
     z-index: 7;   
}
.lamp_text8{
    position: absolute;
    left: 610px;
    top: 5100px;
    z-index: 7;   
 }
 .PH_Co-Ntras{z-index: 6;
    text-align: right;
    font-size: 25pt;
    top:5200px;
    color: #36150A;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    position: absolute;
    left: 340px;}


.lamp9{
     position: absolute;
     left: 230px;
     top: 5700px;
     z-index: 7;   
}
.lamp_text9{
    position: absolute;
    left: 620px;
    top: 5700px;
    z-index: 7;   
 }
 .Panthella{z-index: 6;
    text-align: left;
    font-size: 23pt;
    top:5800px;
    color: #36150A;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    position: absolute;
    left: 630px;}
.exit_door{
     position: absolute;
     left: 650px;
     top: 6620px;
     z-index: 7;  
}
.CLICK_TO_EXIT{z-index: 6;
    text-align: left;
    font-size: 15pt;
    top:6600px;
    color: #36150A;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    position: absolute;
    left: 675px;}
.copyright{
    text-align: center;
    position: absolute;
    z-index: 7;
    font-size: 9pt;
    top: 6200px;
    color: rgb(42, 42, 42);
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    left: 600px;
    position: absolute;
}



.menu_top_bar{
    position: absolute;
    left: 0px;
    top: -1px;
    z-index:99;
    position: fixed;

}  
.menu_top_bar2{
    position: absolute;
    left:0px;
    top: -150px;
    z-index:99;
    position: fixed;
background-color: #ffffff;
} 

















nav{
    background-color: white;
    height: 55px;
    display: flex;
    justify-content: center;
    position: absolute;
    position: fixed;
    z-index: 97;
    left: 0px;
    width: 1920px;
}
nav ul{
    width: 900px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 98;
    
}
nav ul li{
    position: relative;
    width: 100px;
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    left: -210px;
    
}
nav ul li a{
    color: #000000;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    padding-top: 15px;
    height: 30px;
    width: 216px;
    text-align: center;
}
nav ul li a:hover{
    background-color: #E3AA2A;
    height: 40px;
    
 
}
    
    
    
    












    